// Color Variable

//Light Mode Colors
$lm-blue: #0079ff;
$lm-gray: #697c9a;
$lm-grayish-blue: #4b6a9b;
$lm-dark: #2b3442;
$lm-light-1: #fefefe;
$lm-light-2: #f6f8ff;

// Dark Mode Colors
$dm-blue: #0079ff;
$dm-white: #ffffff;
$dm-dark: #f6f8ff;
$dm-dark-2: #1e2a47;
