.app {
	width: 100%;
	height: 100%;
	background-color: $lm-zircon;
	padding: 14.5rem 35.5rem 14.5rem 35.5rem;
}

.main-container {
	max-width: 73rem;
}

// Themes Mode

.navbar {
	@include flex-row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3.6rem;

	&--theme-switcher {
		@include flex-row;
		align-items: center;
		cursor: pointer;

		&__theme-text {
			margin-right: 1.6rem;
			font-weight: 700;
			text-transform: uppercase;
		}

		i {
			font-size: 2rem;
		}

		.make-it-light {
			color: #90a4d4;

			i {
				color: #222731;
			}
		}

		.make-it-dark {
			color: #222731;

			i {
				color: #90a4d4;
			}
		}
	}
}

// SearchBar

.search-bar {
	width: 100%;
	background-color: $lm-white;
	@include flex-row;
	justify-content: space-between;
	align-items: center;
	padding: 0.95rem 1rem 0.95rem 3.2rem;
	@include radius-medium;

	&--icon {
		width: 2.4rem;
	}

	&--form {
		position: relative;
	}

	&--input {
		outline: none;
		width: 55.8rem;
		padding: 1rem 2.4rem;
		font-size: 1.8rem;
		font-weight: 400;
		border: none;
		caret-color: $lm-azure-radiance;
		line-height: 2.5rem;
		font-family: inherit;
	}

	&--input-error {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(-2.4rem, -50%);
		font-size: 1.5rem;
		font-weight: 700;
		color: $lm-error;
	}

	&--btn {
		padding: 1.3rem 2.35rem;
		background-color: $lm-azure-radiance;
		@include radius-small;
		font-size: 1.6rem;
		font-weight: 700;
		color: $dm-white;
		transition: all 0.2s;
		cursor: pointer;
		user-select: none;

		&:hover {
			background-color: #60abff;
		}

		&:active {
			transform: scale(0.95);
		}
	}
}

// Styles for Profile card

.card {
	@include radius-medium;
	background-color: $lm-white;
	margin-top: 2.4rem;
	padding: 4.8rem 4.8rem 2.9rem 4.8rem;

	@include flex-row;

	&--pp {
		width: 11.7rem;
		height: 11.7rem;
		margin-right: 3.7rem;
		flex-shrink: 0;

		img {
			width: 100%;
			border-radius: 50%;
			object-fit: cover;
		}
	}

	&--card-data {
		.userdata {
			@include flex-row;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 2rem;

			&__username {
				font-weight: 400;
				color: $lm-azure-radiance;
				text-transform: lowercase;
			}

			&__date {
				color: $lm-lynch;
			}
		}

		&__bio {
			margin-bottom: 3.2rem;
		}

		&__repo-card {
			background-color: $lm-zircon;
			@include radius-small;
			padding: 1.6rem 8.3rem 1.6rem 3.2rem;
			@include flex-row;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 3.7rem;

			h2 {
				color: $lm-ebony-clay;
			}
		}

		&__social {
			@include flex-row;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
			width: 100%;

			.socialicon {
				color: $lm-kashmir-blue;
				width: 50%;
				margin-bottom: 1.9rem;

				i {
					margin-right: 1.6rem;
					font-size: 2rem;
					color: black;
				}

				a {
					text-decoration: none;
					color: $lm-kashmir-blue;
					transition: all 0.2s;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
